<header class="site-header" role="banner">

  <!-- <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path
              d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z" />
          </svg>
        </span>
      </label>
      
      <div class="trigger">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="page-link current" {% endif %} {% if page.url != item.link %}class="page-link" {% endif %}>
          {{ item.name | escape }}
        </a>
        {% endfor %}
      </div>

    </nav>
    {%- endif -%}
  </div> -->

  <div class="wrapper">
    <div class="nav-grid">
      <div class="logo">
        <a class="link link--dia" href="/">
          {%- include logosvg.html -%}
        </a>
      </div>
      <nav class="menu">
        <ol>
          <li class="menu-item">
            <a class="link link--dia" href="/webnn">WebNN</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="/webnn-getstarted">Get Started</a></li>
              <li class="menu-item"><a href="/webnn-spec">Spec</a></li>
              <li class="menu-item"><a href="/webnn-demo">Demo</a></li>
              <li class="menu-item"><a href="/webmm-workload">Workload</a></li>
            </ol>
          </li>
          <li class="menu-item"><a class="link link--dia" href="#">Model Loader</a></li>
          <li class="menu-item"><a class="link link--dia" href="/blog">Blog</a></li>
          <li class="menu-item"><a class="link link--dia" href="/community">Community</a></li>
          <li class="menu-item"><a class="link link--dia faq" href="/faq">FAQ</a></li>
        </ol>
      </nav>
      <div class="mobileburger">
        <svg class="burger-svg">
          <defs>
            <filter id="gooeyness">
              <feGaussianBlur in="SourceGraphic" stdDeviation="2.2" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                result="gooeyness" />
              <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
            </filter>
          </defs>
        </svg>

        <div class="plate plateshow" onclick="this.classList.toggle('active')">
          <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
            <path class="line line1" d="M 50,35 H 30 M 50,35 H 70 V 38 H 30 V 41 H 70" />
            <path class="line line2" d="M 50,50 H 30 V 47 H 70 V 44 H 30" />
            <path class="line line3" d="M 50,50 H 70 V 53 H 30 V 56 H 70" />
            <path class="line line4" d="M 50,65 H 70 M 50,65 H 30 V 62 H 70 V 59 H 30" />
          </svg>
          <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
            <path class="line" d="M 34,32 L 66,68" />
            <path class="line" d="M 66,32 L 34,68" />
          </svg>
          <nav class="menu">
            <ol>
              <li class="menu-item">
                <a class="link link--dia" href="/webnn">WebNN</a>
                <ol class="sub-menu">
                  <li class="menu-item"><a href="/webnn-getstarted">Get Started</a></li>
                  <li class="menu-item"><a href="/webnn-spec">Spec</a></li>
                  <li class="menu-item"><a href="/webnn-demo">Demo</a></li>
                  <li class="menu-item"><a href="/webmm-workload">Workload</a></li>
                </ol>
              </li>
              <li class="menu-item"><a class="link link--dia" href="#">Model Loader</a></li>
              <li class="menu-item"><a class="link link--dia" href="/blog">Blog</a></li>
              <li class="menu-item"><a class="link link--dia" href="/community">Community</a></li>
              <li class="menu-item"><a class="link link--dia faq" href="/faq">FAQ</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>