@import "minima";

.hero {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.herobar,
.postlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
}

.hb-item {
    display: flex;
    align-items: center;
    padding-right: 6rem;
}

.gap {
    margin-top: 2rem;
}

#herosvg {
    text-align: right;
}

#herosvg svg {
    height: 360px;
}

.buttons {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.getstarted {
    background-image: linear-gradient(135deg, #5eb4fe, #62d3fd);
}

.getstarted:hover {
    background-image: linear-gradient(135deg, $brand-color, #5eb4fe);
}

.herobar .button {
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0.6rem 2rem;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-decoration: none;
    margin: 0 0.5rem;
    width: 100px;
    text-align: center;
    border: 1px solid $brand-color2;
}

.herobar .buttonwhite {
    color: $brand-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.herobar .buttonwhite:hover {
    border: 1px solid $brand-color;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
}

.button--atlas>span {
    display: inline-block;
}

.button--atlas:hover>span {
    opacity: 0;
}

.marquee {
    position: absolute;
    top: 0;
    left: 4px;
    right: 4px;
    overflow: hidden;
    pointer-events: none;
}

.marqueeinner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 2s linear infinite;
    animation-play-state: paused;
    opacity: 0;
}

.button--atlas:hover .marqueeinner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.marquee span {
    text-align: center;
    white-space: nowrap;
    padding: 0.6rem 0.3rem;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.titleeffect {

    .box {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: 1.6rem;

            h1 {
                color: $brand-color;
                animation: mainFadeIn 0.5s forwards;
                opacity: 0;
                align-items: baseline;
                position: relative;
                font-size: 1.6rem;

                span {
                    width: 0px;
                    height: 0px;
                    border-radius: 0%;
                    background: $faq-color;
                    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 0.5s;
                    margin-left: 5px;
                    margin-top: -10px;
                    position: absolute;
                    bottom: 13px;
                    right: -12px;
                }
            }
        }

        .role {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            margin: 1rem 0 0.5rem 0;
            height: 1rem;

            p {
                animation: secFadeIn 2s forwards;
                color: $brand-color2;
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }
    }
}

.t {
    font-family: Poppins;
}

.des {
    animation: secFadeIn 2s forwards;
    color: $grey-color;
    font-size: 1rem;
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #ffb510;
        border: 0px;
        opacity: 0;
    }

    50% {
        width: 7px;
        height: 7px;
        background: #ffb510;
        opacity: 1;
        bottom: 45px;
    }

    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
    }

    80% {
        width: 7px;
        height: 7px;
        bottom: 20px
    }

    100% {
        width: 7px;
        height: 7px;
        background: $faq-color;
        border: 0px;
        bottom: 0px;
        border-radius: 1px;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

.arch {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
    align-items: center;
    justify-content: center;
}

.arch ul {
    margin: 2rem;
}

.arch ul li {
    list-style-type: circle;
}

.postlist {
    margin: 2rem 0;
}

.post {
    margin-left: 1rem;
}

.bloglist .post {
    margin-bottom: 1rem;
}

.posttitle {
    margin-bottom: 1rem !important;
    font-family: Poppins;
}

.posttitle+p {
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postlink {
    font-size: 1.0rem;
}

.blflex {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.post p {
    margin-bottom: 0;
}

.postimg {
    position: relative;
    display: block;
    margin-right: 1rem;
}

.blflex img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.postauthor {
    margin-bottom: 0;
}

@media screen and (max-width: 640px) {
    .herobar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "."
            ".";
    }

    .adv .content {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
        gap: 0px 0px;
        grid-template-areas:
            "."
            "."
            "."
            "." !important;
    }

    .buttons {
        text-align: center;
    }

    .herobar .button {
        padding: 0.6rem 1rem;
        width: 100px;
    }

    .postdetail {
        display: block;
        margin: 2rem auto;
    }

    .post {
        margin-left: 0rem;
    }

}

.menu-item:hover>.sub-menu {
    display: block;
}

@media screen and (max-width: 640px) {
    .herobar {
        margin-top: 80px;
    }

    .hb-item {
        padding: 0;
    }

    #herosvg {
        margin-top: 1rem;
    }

    #herosvg svg {
        width: 90vw;
    }

    #herosvg,
    #herosvg svg {
        height: 280px;
    }

    .cap {
        padding-bottom: 0 !important;
    }

    .moreitem {
        margin: 0.5rem 0 !important;
    }

    .more {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-areas:
            "."
            "."
            "." !important;
        justify-content: space-between;

        &item {
            padding: 1rem;
            margin: 0 1rem;
        }
    }

    .arch,
    .postlist {
        margin: 0rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "."
            ".";
        align-items: center;
        justify-content: center;
    }

    .post {
        margin-bottom: 1rem;
    }

    .content .flex {
        margin-left: 0 !important;
    }

    .adv .flex {
        margin-right: 0.5rem !important;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.adv {
    background-color: rgba(242, 245, 251, 1);
    margin: 2rem 0;
    padding: 2rem 0 0 0;
}


.cap {
    text-align: center;
    padding-bottom: 0;
}

.title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $brand-color;
    font-family: Poppins;
}

.subtitle {
    color: $grey-color;
    margin-top: -0.5rem;
}

.adv .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". ."
        ". .";
}

.flex-shrink {
    margin-top: 0.3rem;
}

.content .title {
    font-size: 1.0rem;
    color: $text-color;
}

.content .flex {
    margin-left: 1rem;
}

.adv svg {
    height: 2rem;
    width: 2rem;
    color: $brand-color;
}

.adv .flex {
    display: flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
    justify-content: space-between;

    &item {
        background-color: $brand-bg;
        padding: 1rem;
        margin: 0 1rem;
        text-align: left;

        a {
            display: block;
            margin-top: 8px;
            align-items: center;
            display: inline-flex;
            font-size: 0.7rem;
        }
    }

    &image {
        width: 100%;
        border-radius: 50%;
        max-width: 2.8rem;
        border: 3px solid #fff;
    }

    &headline_user {
        text-align: center;
        margin: 0.5rem 0 0 0;
        position: relative;
        font-size: 0.9rem;
    }

    &headline {
        text-align: center;
        margin: 0;
        position: relative;
        font-size: 0.7rem;
    }

    &subtext {
        font-size: 0.8rem;
    }
}

.more hr {
    height: 24px;
    width: 100%;
    background: url("../images/home-leaf.gif") center no-repeat;
    border: none;
}

.more .img {
    text-align: center;
}

.more svg {
    width: 12px;
    height: 0.7rem;
    margin-left: 4px;
}

.current {
    color: $brand-color2 !important;
}

.typing-demo {
    width: 27ch;
    animation: typing 2s steps(27), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media only screen and (max-width: 640px),
(min-device-width: 320px) and (max-device-width: 812px),
(min-device-width: 768px) and (max-device-width: 1366px) {
    .hb-item {
        padding-right: 0;
    }

    #herosvg svg {
        height: 280px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px),
(min-device-width: 768px) and (max-device-width: 1366px) {

}