@import "minima";

.hero {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.herobar, .postlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
}

.hb-item {
    display: flex;
    align-items: center;
    padding-right: 6rem;
}

.gap {
    margin-top: 2rem;
}

#herosvg {
    text-align: right;
}

#herosvg svg {
    height: 360px;
}

.buttons {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.getstarted {
    background-image: linear-gradient(135deg, #5eb4fe, #62d3fd);
  }

  .getstarted:hover {
    background-image: linear-gradient(135deg, $brand-color, #5eb4fe);
  } 

.herobar .button {
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0.6rem 2rem;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    text-decoration: none;
    margin: 0 0.5rem;
    width: 100px;
    text-align: center;
    border: 1px solid $brand-color2;
}

.herobar .buttonwhite {
    color: $brand-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
}

.herobar .buttonwhite:hover {
    border: 1px solid $brand-color;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
}

.button--atlas>span {
    display: inline-block;
}

.button--atlas:hover>span {
    opacity: 0;
}

.marquee {
    position: absolute;
    top: 0;
    left: 4px;
    right: 4px;
    overflow: hidden;
    pointer-events: none;
}

.marqueeinner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 2s linear infinite;
    animation-play-state: paused;
    opacity: 0;
}

.button--atlas:hover .marqueeinner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.marquee span {
    text-align: center;
    white-space: nowrap;
    padding: 0.6rem 0.3rem;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.titleeffect {

    .box {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: 1.6rem;

            .block {
                width: 0%;
                height: inherit;
                background: #ffb510;
                position: absolute;
                animation: mainBlock 0.5s cubic-bezier(.74, .06, .4, .92) forwards;
                display: flex;
            }

            h1 {
                color: $brand-color;
                -webkit-animation: mainFadeIn 0.5s forwards;
                -o-animation: mainFadeIn 0.5s forwards;
                animation: mainFadeIn 0.5s forwards;
                animation-delay: 1s;
                opacity: 0;
                align-items: baseline;
                position: relative;
                font-size: 1.6rem;

                span {
                    width: 0px;
                    height: 0px;
                    border-radius: 0%;

                    background: $faq-color;
                    -webkit-animation: load 0.5s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 1s;
                    margin-left: 5px;
                    margin-top: -10px;
                    position: absolute;
                    bottom: 13px;
                    right: -12px;

                }
            }
        }

        .role {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            margin: 1rem 0 0.5rem 0;
            height: 1rem;

            .block {
                width: 0%;
                height: inherit;
                background: $faq-color;
                position: absolute;
                animation: secBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
                animation-delay: 1.5s;
                display: flex;
            }

            p {
                animation: secFadeIn 2s forwards;
                animation-delay: 2s;
                opacity: 0;
                color: $brand-color2;
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }
    }
}

.t {
    font-family: Poppins;
}

.des {
    animation: secFadeIn 1s forwards;
    animation-delay: 3s;
    opacity: 0;
    color: $grey-color;
    font-size: 1rem;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;

    }

    50% {
        width: 36%;
        left: 0;

    }

    100% {
        width: 0;
        left: 36%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;

    }

    50% {
        width: 72%;
        left: 0;

    }

    100% {
        width: 0;
        left: 72%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #ffb510;
        border: 0px;
        opacity: 0;
    }

    50% {
        width: 10px;
        height: 10px;
        background: #ffb510;
        opacity: 1;
        bottom: 45px;
    }

    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px
    }

    80% {
        width: 10px;
        height: 10px;
        bottom: 20px
    }

    100% {
        width: 7px;
        height: 7px;
        background: $faq-color;
        border: 0px;
        bottom: 0px;

    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}


nav a {
    text-decoration: none !important;
    border-bottom: 0px;
    color: $text-color;
}

.menu {
    color: $grey-color;
}

.menu ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.menu>ol {
    max-width: 1000px;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu>ol>.menu-item {
    flex: 1;
    padding: 0.75rem 0;
}
 
.menu-item {
    position: relative;
    text-align: center;
}

.menu-item a {
    text-overflow: ellipsis;
    display: inline-block;
    color: $grey-color;
    position: relative;
    white-space: nowrap;
    font-weight: 500;
}

.menu-item a:hover {
    color: $brand-color;
}

.arch {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
    align-items: center;
    justify-content: center;
}

.arch ul {
    margin: 2rem;
}

.arch ul li {
    list-style-type: circle;
}

.faq {
    background-color: $faq-color;
    color: #fff !important;
    padding: 4px 16px;
    border-radius: 5px;
}

.faq:hover {
    background-color: darken($faq-color, 10%)
}

.sub-menu {
    border-radius: 3px;
    border: 1px solid rgba(200, 200, 200, 0.5);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    z-index: 10005;
    box-shadow: 2px 2px 10px 0px rgba(200, 200, 200, 0.25);
}

.sub-menu:before {
    content: "";
    position: absolute;
    left: 54px;
    top: -8px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 7px;
    border-left-width: 7px;
    border-bottom: 7px solid rgba(200, 200, 200, 0.5);
    box-shadow: 2px 2px 10px 0px rgba(200, 200, 200, 0.25);
}

.sub-menu .menu-item {
    padding: 0.5rem 0;
    opacity: 0;
    background: rgba(240, 240, 240, 0.8);
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
}

.sub-menu .menu-item:nth-child(1) {
    animation-duration: 0.2s;
    animation-delay: 0s;
}

.sub-menu .menu-item:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.1s;
}

.sub-menu .menu-item:nth-child(3) {
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}

.sub-menu .menu-item:hover {
    color: #fff;
    background: $brand-color;
}

.sub-menu .menu-item a {
    padding: 0 0.75rem;
}

.sub-menu .menu-item:hover a,
.sub-menu .menu-item a:hover {
    color: #fff;
}


.link::before {
    content: '';
    /* show by default */
}

.link {
    position: relative;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link--dia::before,
.link--dia::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.link--dia:hover::before,
.link--dia:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.link--dia::after {
    content: '';
    top: calc(100% + 4px);
    width: 70%;
    left: 15%;
}

.link--dia::before,
.link--dia:hover::after {
    transition-delay: 0.1s;
}

.link--dia:hover::before {
    transition-delay: 0s;
}

.mobileburger {
    display: none;
}

.burger-svg {
    height: 60px;
    width: 60px;
}

@media (max-width: 640px) {
    .plates {
        width: 60px;
    }

    .mobileburger {
        display: inline-block;
        height: 60px;
        position: absolute;
        width: 60px;
        top: 0px;
        right: 0px;
        z-index: 10002;
    }
}

.burger,
.x,
.active .x {
    filter: url(#gooeyness);
    display: inline-block;
    height: 60px;
    position: absolute;
    width: 60px;
    top: 0px;
    right: 0px;
    z-index: 10002;
}

.active .menu {
    display: block;
}

.active .menu>ol {
    z-index: 10000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    animation: fade 0.2s ease-out;
}

.x {
    transform: scale(0);
    transition: transform 100ms;
}

.line {
    fill: none;
    stroke: $brand-color;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.x .line {
    stroke-width: 5.5px;
}

.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.plateshow .line {
    transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plateshow .line1 {
    stroke-dasharray: 21 127;
}

.plateshow .line2 {
    stroke-dasharray: 21 106;
}

.plateshow .line3 {
    stroke-dasharray: 21 106;
}

.plateshow .line4 {
    stroke-dasharray: 21 126;
}

.plateshow .x {
    transition: transform 400ms 50ms;
}

.active.plateshow .line {
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plateshow .line1 {
    stroke-dasharray: 2 127;
    stroke-dashoffset: -94px;
}

.active.plateshow .line2 {
    stroke-dasharray: 2 106;
    stroke-dashoffset: -91px;
}

.active.plateshow .line3 {
    stroke-dasharray: 2 106;
    stroke-dashoffset: -91px;
}

.active.plateshow .line4 {
    stroke-dasharray: 2 127;
    stroke-dashoffset: -94px;
}

.active.plateshow .x {
    transition: transform 400ms 50ms;
}

.mobileburger, .menu {
    display: block;
}

.burger-svg, .burger, .x {
    display: none;
}

.menu {
    position: static;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10001;
    display: block;
}

.postlist {
    margin: 2rem 0;
}

.post {
    margin-left: 1rem;
}

.posttitle {
    margin-bottom: 1rem !important;
}

.posttitle + p {
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postlink {
    font-size: 1.0rem;
}

.blflex {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.post p {
    margin-bottom: 0;
}

.postimg {
    position: relative;
    display: block;
    margin-right: 1rem;
}

.blflex img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.postauthor {
    margin-bottom: 0;
}

@media screen and (max-width: 640px) {

    .herobar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "."
          ".";
    }

    .adv .content {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
        gap: 0px 0px;
        grid-template-areas:
          "."
          "."
          "."
          "." !important;
    }

    .buttons {
        text-align: center;
    }
    
    .herobar .button {
        padding: 0.6rem 1rem;
        width: 100px;
    }
}

.menu-item:hover>.sub-menu {
    display: block;
}

@media screen and (max-width: 640px) {
    .herobar {
        margin-top: 80px;
    }

    .hb-item {
        padding: 0;
    }

    #herosvg {
        margin-top: 1rem;
    }

    #herosvg svg {
        width: 90vw;
    }

    #herosvg,
    #herosvg svg {
        height: 280px;
    }
    .cap {
        padding-bottom: 0 !important;
    }
    .moreitem {
        margin: 0.5rem 0 !important;
    }

    .more {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-areas:
        "."
        "."
        "." !important;
        justify-content: space-between;
    
        &item {
            padding: 1rem;
            margin: 0 1rem;
        }
    }

    .arch, .postlist {
        margin: 0rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "."
            ".";
        align-items: center;
        justify-content: center;
    }

    .post {
        margin-bottom: 1rem;
    }
    
    .content .flex {
        margin-left: 0 !important;
    }

    .adv .flex {
        margin-right: 0.5rem !important;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.adv {
    background-color: rgba(242, 245, 251, 1);
    margin: 2rem 0;
    padding: 2rem 0 0 0;
}


.cap {
    text-align: center;
    padding-bottom: 0;
}

.title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $brand-color;
    font-family: Poppins;
}

.subtitle {
    color: $grey-color;
    margin-top: -0.5rem;
}

.adv .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
}

.flex-shrink {
    margin-top: 0.3rem;
}

.content .title {
    font-size: 1.0rem;
    color: $text-color;
}

.content .flex {
    margin-left: 1rem;
}

.adv svg {
    height: 2rem;
    width: 2rem;
    color: $brand-color;
}

.adv .flex {
    display: flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . .";
    justify-content: space-between;

    &item {
        background-color: $brand-bg;
        padding: 1rem;
        margin: 0 1rem;
        text-align: left;

        a {
            display: block;
            margin-top: 8px;
            align-items: center;
            display: inline-flex;
            font-size: 0.7rem;
        }
    }

    &image {
        width: 100%;
        border-radius: 50%;
        max-width: 2.8rem;
        border: 3px solid #fff;
    }

    &headline_user {
        text-align: center;
        margin: 0.5rem 0 0 0;
        position: relative;
        font-size: 0.9rem;
    }

    &headline {
        text-align: center;
        margin: 0;
        position: relative;
        font-size: 0.7rem;
    }

    &subtext {
        font-size: 0.8rem;
    }
}

.more hr {
    height: 24px;
    width: 100%;
    background: url("../images/home-leaf.gif") center no-repeat;
    border: none;
}

.more .img {
    text-align: center;
}

.more svg {
    width: 12px;
    height: 0.7rem;
    margin-left: 4px;
}

.current {
    color: $brand-color2 !important;
}

.typing-demo {
    width: 27ch;
    animation: typing 2s steps(27), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media only screen 
and (max-width: 640px),
(min-device-width: 320px) 
  and (max-device-width: 812px),
(min-device-width: 768px) 
  and (max-device-width: 1366px) {
    .hb-item {
        padding-right: 0;
    }
    #herosvg svg {
        height: 280px;
    }
}


@media only screen 
and (max-width: 640px),
(min-device-width: 320px) 
  and (max-device-width: 812px),
(min-device-width: 768px) 
  and (max-device-width: 1366px) {
    
    .sub-menu {
        border-radius: 0px;
        width: 99%;
        position: static;
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(200, 200, 200, 0.25);
    }

    .menu ol {
        margin-top: 0.5rem;
    }

    .menu ol>.menu-item:first-child {
        padding-bottom: 0;
    }

    .sub-menu .menu-item {
        background: $brand-color2;
        padding: 0.5rem 0;
    }

    .sub-menu .menu-item a {
        color: #fff;
    }

    .sub-menu:before {
        display: none;
    }

    .burger-svg, .burger, .x {
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 10001;
        display: none;
    }

    .menu>ol {
        display: none;
    }

    .menu>ol>.menu-item {
        flex: none;
        display: inline-block;
        opacity: 0;
        animation: enter 0.3s ease-out forwards;
        border: 1px solid rgba(255, 255, 255, 1.0);
        background-color: $brand-color;
        z-index: 10000;
        width: 50vw;
        padding: 0.5rem 0;
        box-shadow: 2px 2px 10px 0px rgba(200, 200, 200, 0.25);
    }

    .faq {
        background-color: transparent;
    }

    .menu-item a {
        color: #fff;
    }

    .menu>ol>.menu-item:nth-child(1) {
        animation-delay: 0s;
    }

    .menu>ol>.menu-item:nth-child(2) {
        animation-delay: 0.1s;
    }

    .menu>ol>.menu-item:nth-child(3) {
        animation-delay: 0.2s;
    }

    .menu>ol>.menu-item:nth-child(4) {
        animation-delay: 0.3s;
    }

    .menu>ol>.menu-item:nth-child(5) {
        animation-delay: 0.4s;
    }

    .menu>ol>.menu-item:after {
        left: auto;
        right: 1rem;
        bottom: calc(50% - 2px);
    }

    .menu:hover>ol {
        display: flex;
    }

    .menu:hover:after {
        box-shadow: none;
    }
}