---
layout: bloglist
---

<div class="bloglist">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="postlist">
    <div>
      {%- for post in site.posts -%}
      <div class="post">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <p class="posttitle"><a class="postlink" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>
          <div>
            <!-- {{ post.excerpt | strip_html | truncate: 500 }} -->
            {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
              <div style="text-align:right;">
                <a href="{{ post.url }}"> Read More</a>
              </div>
            {% else %}
              {{ post.content }}
            {% endif %}
          </div>
          <!-- <div class="blflex">
              <span class="postimg">
                  <img alt="profile" src="{{ post.avatar }}">
              </span>
              <div class="postsub">
                  <p class="postauthor">{{ post.author | escape }}</p>
                  <p class="postdate">{{ post.date | date: date_format }}</p>
              </div>
          </div> -->
      </div>
      {%- endfor -%}
    </div>
    <div id="archives">
      {% for category in site.categories %}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% if category_name == "blog" %}
        <h3 class="category-head">{{ category_name }}</h3>
        <ul>
          {% for post in site.categories[category_name] %}
          <li><a class="archive-item" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      
      {% endfor %}
    </div>
  </div>
  {%- endif -%}

</div>
