<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content wrapper" aria-label="Content">
    {%- if site.posts.size > 0 -%}

    <div class="mt0 mb3">
      <div class="cap">
        <p class="title">Here's How to Get Started</p>
      </div>

      <div class="gr wrapper gs">
        <ul>
          <li>Run the <a href="{{ 'webnn-samples' | relative_url }}">WebNN Samples</a> that demonstrate the key use cases
          </li>
          <li>Play with the <a href="https://webmachinelearning.github.io/webnn-samples/code/">code editor</a> in your
            browser to get a feel of the API shape</li>
          <li>Clone the <a href="https://github.com/webmachinelearning/webnn-polyfill">webnn-polyfill</a> and build your
            first experiment</li>
        </ul>

        <ul>
          <li>Dive into the native implementation details with <a
              href="https://github.com/webmachinelearning/webnn-native">webnn-native</a></li>
          <li>Join the <a href="{{ 'community' | relative_url }}">community</a> to help shape the related specifications
          </li>
        </ul>
      </div>
    </div>
    
    <div class="l1r4">
      <div id="archives">
        {% for category in site.categories %}
        <div class="archive-group">
          {% capture category_name %}{{ category | first }}{% endcapture %}
          {% if category_name == "get-started" %}
          <h3 class="category-head">{{ category_name }}</h3>
          <ul>
            {% for post in site.categories[category_name] %}
            <li><a class="archive-item" href="{{ post.url | relative_url }}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {% endfor %}
      </div>
      <div>

        <div class="post">
          {%- for post in site.posts -%}
          {% capture category_name %}{{ post.categories | first }}{% endcapture %}
          {% if category_name == "get-started" %}
          <div class="post">

            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <p class="posttitle"><a class="postlink" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </p>
            <div>
              {% if post.content contains "<!-- more -->" %}
              {{ post.content | split:"<!-- more -->" | first }}
              <div style="text-align:right;">
                <a href="{{ post.url | relative_url }}"> Read More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
              {% else %}
              {{ post.content }}
              {% endif %}
            </div>
          </div>
          {% endif %}
          {%- endfor -%}
        </div>
      </div>
      {%- endif -%}
  </main>

  {%- include footer.html -%}

</body>

</html>